* {
  font-family: 'Courier New', "Lucida Console", monospace;
}

body {
  background-color: #565758;
}

h1 {
  font-size: 40px;
  text-align: left;
  background-color: transparent;
  color: #ffff;
  font-weight: bold;
  -webkit-text-stroke: 2px #000;
}

.title {
  text-align: center;
  background-color: transparent;
  color: rgb(129, 31, 31);
  font-weight: bold;
  -webkit-text-stroke: 2px #000;
}


li {
  list-style: none;
}

ul a {
  text-decoration: none;
  font-size: 20px;
  color: #ffff;
  -webkit-text-stroke: 1px #000;
  font-weight: 700;
  list-style: none;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}



/*Eggplant soup*/

.egg {
  background-color: #d24dff;
}

/*Teriyaki meatballs*/

.meat {
  background-color: #ff3333;
}

/*Brownies*/

.brow {
  background-color: #4d2600;
}

/*Spanish Rice*/

.rice {
  background-color: #ff8c1a;
}

/*Oatmeal Pancakes*/

.oat {
  background-color: #cc8800;
}


.all-img {
  width: auto;
  height: 400px;
}